.animatTxt {
  animation: anim 1s linear infinite;
  transition: all 0.5s ease;
  color: #ffd900 !important;
  font-size: 100px !important;
  position: relative;
  left: 50% !important;
  top: 150px !important;
}
@keyframes anim {
  0% {
    transform: perspective(23rem) rotateY(0deg);
  }
  100% {
    transform: perspective(10rem) rotateY(360deg);
  }
}

.styleBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  box-shadow: 24px;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
}

.boxForm {
  margin-top: 5px;
}

.closeButton {
  position: absolute;
  top: -60px;
  right: -187px;
  border: 1px solid #000000 !important;
  border-radius: 20px !important;
  color: #000000 !important;
}

.closeButton:hover {
  background-color: #e84034 !important;
  border: 1px solid #e84034 !important;
  color: white !important;
}
